button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5%;
    background-color: #98002E;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    color: #F9A01B;
}

button:hover {
    cursor: pointer;
    background-color: #b90038;
}